<div class="container">
  <mat-toolbar color="warn">
    <a mat-list-item 
      routerLink="/home-page" 
      routerLinkActive="active-link"
      class="nav-link"
    >
      Home page
    </a>
  
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Search</mat-label>
      <input matInput
         (input)="onSearch($event)"
         placeholder="Search by title or author" 
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  
    <button mat-button 
      class="new-book-button" 
      (click)="onCreateNewBook()"
      [disabled]="isDisabled"
    >
      <mat-icon>add</mat-icon>
      <span>New Book</span>
    </button>
  </mat-toolbar>
</div>