<div class="container">
  <div class="book-create">
    <div class="book-container">
      <div class="book" [ngStyle]="{'background-image': 'url(' + bookForm.get('cover')?.value + ')'}">
        @if (!bookForm.get('cover')?.value) {
          <div class="book-title">{{ bookForm.get('name')?.value || 'Title' }}</div>
          <div class="book-author">{{ bookForm.get('author')?.value || 'Author' }}</div>
          <div class="book-year">{{ bookForm.get('yearOfPublic')?.value || 'Year' }}</div>
        }
      </div>

      <div class="book-upload">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInput />
        <button mat-button (click)="fileInput.click()">Upload Image from Computer</button>
      </div>
    </div>
  
    <form [formGroup]="bookForm" (ngSubmit)="createBook()" class="book-form">
      <mat-form-field appearance="fill">
        <mat-label>Name of book:</mat-label>
        <input matInput formControlName="name" placeholder="Enter book name"/>
        @if (bookForm.get('name')?.invalid) {
          <mat-error>Name of book is required.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="cover" placeholder="Enter image URL" />
      </mat-form-field>
  
      <div class="fields">
        <mat-form-field appearance="fill" class="fields-author">
          <mat-label>Author's name:</mat-label>
          <input matInput formControlName="author" placeholder="Enter author name"/>
          @if (bookForm.get('author')?.invalid) {
            <mat-error>Author's name is required.</mat-error>
          }
        </mat-form-field>
  
        <mat-form-field class="fields-year">
          <mat-label>Year of publication:</mat-label>
          <input matInput formControlName="yearOfPublic" type="number" placeholder="Enter year"/>
  
          @if (bookForm.get('yearOfPublic')?.invalid) {
            <mat-error>
              @if (bookForm.get('yearOfPublic')?.errors?.['required']) {
                Year of publication is required.
              } @else if (bookForm.get('yearOfPublic')?.errors?.['min']) {
                Year of publication must be at least 1700.
              } @else if (bookForm.get('yearOfPublic')?.errors?.['max']) {
                Year of publication cannot be in the future.
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter a description" formControlName="description" rows="4"></textarea>
        <mat-error *ngIf="bookForm.get('description')?.invalid && bookForm.get('description')?.touched">
          Description is required.
        </mat-error>
      </mat-form-field>
  
      <div class="actions-buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="isSaveButtonDisabled()">
          {{ isEditMode() ? 'Update Book' : 'Save Changes' }}
        </button>
        <button *ngIf="isEditMode()" mat-raised-button class="remove" color="warn" type="button" (click)="removeBook()">
          <mat-icon>delete_outline</mat-icon>
          <span>Remove</span>
        </button>
      </div>
    </form>
  </div>
</div>