label {
  font-weight: bold;
}

input, select {
  padding: 8px;
  height: 100%;
}

.container {
  padding-top: 40px;
}

.book-title {
  font-size: 26px;
}

.book-author {
  font-size: 22px;
}

.book-year {
  font-size: 18px;
}

.book-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  &_title {
    font-weight: 400;
    font-size: 32px;
  }
}

.book-create {
  display: flex;
  gap: 60px;

  .book-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;

    .book {
      width: 400px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border: 1px solid var(--black);
      font-weight: 500;
      padding: 16px;
    }
  }

  .book-colors {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;

    .title {
      width: 100%;
    }

    .color {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;

      &-check {
        color: var(--white);
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }
  }

  .book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;

    .fields {
      display: flex;
      gap: 25px;

      &-author {
        width: 72%;
      }
    }
  }

  .book-upload {
    display: flex;
    justify-content: center;
  }
}

.action-buttons {
  display: flex;
}

.mat-mdc-raised-button {
  width: 160px;

  &.remove {
    margin-left: 20px;
  }
}
