.dialog {
  padding: 40px;
  width: 550px;
  border-radius: 6px;

  &-close {
    display: flex;
    justify-content: flex-end;
  }

  &-title {
    font-size: 24px;
    color: var(--gray-darker);
  }

  .subtitle {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--gray-darker);

    &-author {
      padding-right: 16px;
    }

    &-year {
      padding-left: 16px;
    }

    &-line {
      height: 20px;
      width: 1px;
      background-color: var(--gray-darker);
    }
  }

  .description {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    color: var(--light-black);
  }

  &-actions {
    display: flex;
    justify-content: space-between;

    .go-back {
      color: var(--gray-darker);

      &:hover {
        color: var(--light-black);
      }
    }
  }
}

.mat-mdc-dialog-title::before {
  display: none;
}

.mat-mdc-button:hover {
  background-color: transparent;
}

.mat-mdc-button:has(.material-icons,mat-icon,[matButtonIcon]) {
  padding: 0;
}
