<div class="dialog">
  <div class="dialog-close">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-title class="dialog-title">
    <h2>{{ book.name }}</h2>
  </div>
  <div mat-dialog-content class="dialog-content">
    <div class="subtitle">
      <p class="subtitle-author">{{ book.author }}</p>
      <div class="subtitle-line"></div>
      <p class="subtitle-year">Year of published: {{ book.yearOfPublic }}</p>
    </div>
    <p class="description">{{ book.description }}</p>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close class="go-back">
      <mat-icon>arrow_back</mat-icon>
      <span>Back to books</span>
    </button>
    <button mat-raised-button (click)="editBook(book.id)">Edit Book</button>
  </div>
</div>