:root {
  --light-black: #253237;
  --light-blue: #F3F7F9;
  --border-color-book: #D1D5DB;
  --border-color-button: #7676764D;
  --remove-btn: #bd4646;
  --remove-btn-400: #973535d4
  --format-color: #6B7280;
  --primary-black: #4B5563;
  --gray-darker: #5C6B73;
  --primary-color: #D7BE7B;
  --white: #fff;
  --black: #000;
  --light-red: #FF9999;
  --grey: #d3d3d3;
  --grey-400: #838383;
  --darker-grey: #bdbdbd;

  --brown: #817151;
  --light-green: #85A194;
  --pastel: #CED0C2;
  --light-brown: #B9AB9E;
  --gray-medium: #9DB4C0;
  --dark-violet: #525181;
  --light-gray: #C1D3D7;
  --red-brown: #815151;
  --dark-green: #51816A;
}