<div class="container">
  <h1>Book Reading App</h1>
  <div class="book-list">
    @for (book of (bookList$ | async); track book.name) {
      <div class="book-container" [@slideInOut]>
        <div class="book" [ngStyle]="{'background-image': 'url(' + book.cover + ')'}">
          <div class="overlay"></div> 
          @if (book.cover === '') {
            <div class="book-title">{{ book.name }}</div>
            <div class="book-author">{{ book.author }}</div>
            <div class="book-year">{{ book.yearOfPublic }}</div>
          }
        </div>
        <div class="book-buttons-box">
          <div class="book-descriptor">
            <div class="book-title">{{ book.name }}</div>
            <div class="book-author">{{ book.author }}</div>
            <div class="book-year">{{ book.yearOfPublic }}</div>
          </div>
          <div class="book-buttons">
            <button mat-raised-button color="primary" (click)="readMore(book)">Read more</button>
            <button mat-raised-button class="remove" color="warn" (click)="removeBook(book.id)">
              <mat-icon>delete_outline</mat-icon>
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
