@use '@angular/material' as mat;
@import url('./styles/_variables.scss');

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mona Sans', sans-serif;;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--white);
  color: var(--black);
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 25px 60px;
}

.mat-sidenav-container,
.mat-sidenav,
.mat-toolbar,
.mat-nav-list,
.mat-list-item,
.list-item span,
.mat-mdc-raised-button,
.mdc-button__label {
  font-family: 'Proza Libre', sans-serif;
}

.mat-toolbar {
  justify-content: space-between;
  background-color: #d3d3d3 !important;
}

.mat-mdc-text-field-wrapper {
  border-radius: 20px !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
  border-radius: 20px !important;
}

.mat-mdc-button:hover {
  .mat-mdc-button-persistent-ripple::before {
    opacity: 0 !important;
  }
}

.mdc-line-ripple,
.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-raised-button {
  color: var(--black) !important;
  box-shadow: none !important;
  font-size: 15px;
  font-weight: 500;
  padding: 14px;
  border-radius: 6px !important;
  border: 1px solid black !important;

  &:hover {
    box-shadow: none;
  }

  &:not(:disabled) {
    background-color: #bdbdbd !important;
  }

  &.remove {
    background-color: var(--remove-btn) !important;
  }
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
